img {
    width: 70px;
    height: 70px;
    margin: 10px;
}
body {
    margin: 0;
    background-color: #141414;
}
h1 {
    color: #fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    padding: 30px;
    margin: 50px;
}
h6 {
    color: #fff;
}
.box-lay {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.box-1 {
    width: 7rem;
    height: 7rem;
    margin: 30px;
    border-radius: 5px;
    background-color: red;
}
.box-2 {
    width: 7rem;
    height: 7rem;
    margin: 30px;
    border-radius: 5px;
    background-color: blue;
}
.box-3 {
    width: 7rem;
    height: 7rem;
    margin: 30px;
    border-radius: 5px;
    background-color: green;
}
.box-4 {
    width: 7rem;
    height: 7rem;
    margin: 30px;
    border-radius: 5px;
    background-color: grey;
}

.button-center{
    display: flex;
    justify-content: center;
}
button {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #141414;
    border: solid #fff 1px;
    border-style: groove;
}
.h6-text{
    flex-direction: column;
}
h6 {
    display: flex;
    flex-direction: row;
   text-align: center;
   font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   cursor: pointer;
}

h6:hover {
    color: grey;
}